@use "sass:color";
@use "variables";

$cell-border-width: 2px;

.boards-section {
  display: flex;
}

.board {
  &-title {
    margin: 0 0 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 400px;
    height: 400px;
    border-top: $cell-border-width solid variables.$cell-border-color;
    border-left: $cell-border-width solid variables.$cell-border-color;
  }

  &-cell {
    position: relative;
    border-bottom: $cell-border-width solid variables.$cell-border-color;
    border-right: $cell-border-width solid variables.$cell-border-color;
    background: variables.$cell-color;
  }

  .ai-board &-cell:hover {
    cursor: crosshair;
    background: color.scale(variables.$cell-color, $lightness: 40%);
  }

  &-cell--ship {
    background: variables.$ship-color;
  }

  &-cell--miss::before,
  &-cell--hit::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  &-cell--miss::before {
    background: variables.$miss-dot-color;
  }

  &-cell--hit::before {
    background: variables.$hit-dot-color;
  }
}

.board:first-child {
  margin-right: 40px;
}
