@use "sass:color";
@use "variables";

.boards-section {
  display: flex;
}

.board {
  &-title {
    margin: 0 0 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-wrapper {
    position: relative;
  }

  &-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(variables.$grid-columns, 1fr);
    grid-template-rows: repeat(variables.$grid-rows, 1fr);
    width: variables.$grid-width + variables.$cell-border-width;
    height: variables.$grid-height + variables.$cell-border-width;
    border-top: variables.$cell-border-width solid variables.$cell-border-color;
    border-left: variables.$cell-border-width solid variables.$cell-border-color;
  }

  &-cell {
    position: relative;
    border-bottom: variables.$cell-border-width solid
      variables.$cell-border-color;
    border-right: variables.$cell-border-width solid
      variables.$cell-border-color;
    background: variables.$cell-color;
  }

  .ai-board &-cell:hover {
    cursor: crosshair;
    background: color.scale(variables.$cell-color, $lightness: 40%);
  }

  &-cell--ship {
    background: variables.$ship-color;
  }

  &-cell--miss::before,
  &-cell--hit::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 20;
  }

  &-cell--miss::before {
    background: variables.$miss-dot-color;
  }

  &-cell--hit::before {
    background: variables.$hit-dot-color;
  }
}

.board:first-child {
  margin-right: 40px;
}
