.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: coral;
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: calc(100vh - 5rem);
}
