.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background: lightblue;
}

.main-title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 0.7ch;
}
