@use "variables";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  background: variables.$primary-color;
}

.main-title {
  margin: 0;
  font-size: 4rem;
  letter-spacing: 0.7ch;
}
