.board-placement {
  position: absolute;
  top: 0;
  left: 100%;
  width: 20ch;
  padding: 1rem;
  background: #ddd;

  &-title {
  }

  &-type {
  }

  &-number {
  }

  &-radios {
  }

  &-label {
  }
}
