@use "variables";

.board-placement {
  position: absolute;
  top: 0;
  left: 100%;
  width: 22ch;
  padding: 1rem;
  background: #ddd;

  &-type {
    font-weight: bold;
    text-transform: capitalize;
  }
}
