@use "sass:color";
@use "variables";

.restart-btn {
  margin-top: 1rem;
  padding: 0.5rem 0.7rem;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  color: inherit;
  border: none;
  background: variables.$secondary-color;
}

.restart-btn:hover {
  box-shadow: 0 0 3px 3px
    color.scale(variables.$secondary-color, $lightness: 20%);
  background: color.scale(variables.$secondary-color, $lightness: 20%);
}

.restart-btn:active {
  background: color.scale(variables.$secondary-color, $lightness: -40%);
}
