@use "variables";

.stats-section {
  padding: 1rem 0;

  &-text {
    font-size: 2rem;
    font-style: bold;
  }

  &-text--running {
    color: variables.$white-color;
  }

  &-text--lost {
    color: variables.$danger-color;
  }

  &-text--won {
    color: variables.$success-color;
  }
}
