$lightbrown: #ffca8e;
$lightblue: #77e8ff;
$blue: #69bae8;
$black: #333;
$white: white;
$red: red;
$grey: #999;
$green: lightgreen;

$primary-color: $lightbrown;
$secondary-color: $lightblue;
$black-color: $black;
$white-color: $white;
$danger-color: $red;
$success-color: $green;

$cell-color: $lightblue;
$cell-border-color: $blue;
$miss-dot-color: $white;
$hit-dot-color: $red;
$ship-color: $grey;

$cell-border-width: 2px;

$grid-width: 400px;
$grid-height: 400px;
$grid-rows: 10;
$grid-columns: 10;
$ship-padding: 4px;

$ship-rear-border-radius: 6px;
$ship-front-border-radius: 45%;
