$lightbrown: #ffca8e;
$lightblue: #77e8ff;
$blue: #69bae8;
$black: #333;
$white: white;
$red: red;
$grey: #999;

$primary-color: $lightbrown;
$secondary-color: $lightblue;
$black-color: $black;
$white-color: $white;

$cell-color: $lightblue;
$cell-border-color: $blue;
$miss-dot-color: $white;
$hit-dot-color: $red;
$ship-color: $grey;
